.group26-group26 {
    width: 1442px;
    height: 950px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .group26-text {
    top: 186px;
    left: 571px;
    color: rgba(34, 36, 46, 1);
    width: 291px;
    height: auto;
    position: absolute;
    font-size: 34px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-rectangle126 {
    top: 273px;
    left: 144px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle235 {
    top: 501px;
    left: 144px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle243 {
    top: 738px;
    left: 144px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle238 {
    top: 501px;
    left: 539px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle245 {
    top: 739px;
    left: 539px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle248 {
    top: 741px;
    left: 934px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle251 {
    top: 741px;
    left: 934px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle240 {
    top: 502px;
    left: 934px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle230 {
    top: 273px;
    left: 539px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle233 {
    top: 273px;
    left: 934px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle125 {
    top: 0px;
    left: 0px;
    width: 1442px;
    height: 105px;
    position: absolute;
    border-color: transparent;
  }
  .group26-text02 {
    top: 13px;
    left: 41.08203125px;
    color: rgba(34, 36, 46, 1);
    width: 385px;
    height: auto;
    position: absolute;
    font-size: 34px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text04 {
    top: 66px;
    left: 43.0849609375px;
    color: rgba(240, 58, 71, 1);
    width: 385px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-image29 {
    top: 18px;
    left: 463px;
    width: 185px;
    height: 63px;
    position: absolute;
    border-color: transparent;
  }
  .group26-image30 {
    top: 18px;
    left: 669px;
    width: 193px;
    height: 63px;
    position: absolute;
    border-color: transparent;
  }
  .group26-image31 {
    top: 18px;
    left: 876px;
    width: 262px;
    height: 63px;
    position: absolute;
    border-color: transparent;
  }
  .group26-image32 {
    top: 18px;
    left: 1156px;
    width: 230px;
    height: 63px;
    position: absolute;
    border-color: transparent;
  }
  .group26-rectangle229 {
    top: 273px;
    left: 247px;
    width: 250px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 0 15px 15px 0;
  }
  .group26-rectangle236 {
    top: 501px;
    left: 497px;
    width: 192px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 0 15px 15px 0;
  }
  .group26-rectangle244 {
    top: 738px;
    left: 197px;
    width: 311px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 0 15px 15px 0;
  }
  .group26-rectangle239 {
    top: 501px;
    left: 539px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 0 15px 15px 0;
  }
  .group26-rectangle246 {
    top: 738px;
    left: 892px;
    width: 213px;
    height: 212px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px 0 0 20px;
  }
  .group26-rectangle241 {
    top: 502px;
    left: 934px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 0 15px 15px 0;
  }
  .group26-rectangle231 {
    top: 273px;
    left: 642px;
    width: 250px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 0 15px 15px 0;
  }
  .group26-rectangle234 {
    top: 273px;
    left: 934px;
    width: 353px;
    height: 208px;
    position: absolute;
    border-color: transparent;
    border-radius: 0 15px 15px 0;
  }
  .group26-rectangle228 {
    top: 272px;
    left: 144px;
    width: 353px;
    height: 209px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle237 {
    top: 500px;
    left: 539px;
    width: 353px;
    height: 209px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle247 {
    top: 737px;
    left: 539px;
    width: 353px;
    height: 209px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle250 {
    top: 739px;
    left: 934px;
    width: 353px;
    height: 209px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle242 {
    top: 500px;
    left: 934px;
    width: 353px;
    height: 209px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-rectangle232 {
    top: 272px;
    left: 539px;
    width: 353px;
    height: 209px;
    position: absolute;
    border-color: transparent;
    border-radius: 15px;
  }
  .group26-text06 {
    top: 424px;
    left: 155px;
    color: rgba(255, 255, 255, 1);
    width: 174px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text08 {
    top: 647px;
    left: 169px;
    color: rgba(255, 255, 255, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text10 {
    top: 884px;
    left: 169px;
    color: rgba(255, 255, 255, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text12 {
    top: 647px;
    left: 558px;
    color: rgba(255, 255, 255, 1);
    width: 129px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text14 {
    top: 890px;
    left: 558px;
    color: rgba(255, 255, 255, 1);
    width: 166px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text16 {
    top: 892px;
    left: 953px;
    color: rgba(255, 255, 255, 1);
    width: 166px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text18 {
    top: 892px;
    left: 953px;
    color: rgba(255, 255, 255, 1);
    width: 166px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text20 {
    top: 648px;
    left: 953px;
    color: rgba(255, 255, 255, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text22 {
    top: 424px;
    left: 550px;
    color: rgba(255, 255, 255, 1);
    width: 174px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group26-text24 {
    top: 424px;
    left: 961px;
    color: rgba(255, 255, 255, 1);
    width: 174px;
    height: auto;
    position: absolute;
    font-size: 22px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  