.group31-group31 {
  width: 1446px;
  height: 349px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  top: 180px;
  justify-content: flex-start;
  background-color: transparent;
}

.group31-group31 {}
.group31-component3 {
  top: 0px;
  left: 0px;
  width: 1446px;
  height: 349px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(243, 243, 243, 1);
}
.group31-rectangle29 {
  top: 0px;
  left: 0px;
  width: 1446px;
  height: 349px;
  position: absolute;
  border-color: transparent;
}
.group31-rectangle287 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 349px;
  position: absolute;
  border-color: transparent;
}
.group31-text {
  top: 39px;
  left: 350px;
  color: rgba(255, 255, 255, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Lato;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group31-text02 {
  top: 213px;
  left: 35px;
  color: rgba(255, 255, 255, 1);
  width: 239px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Lato;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group31-text04 {
  top: 58px;
  left: 587px;
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Lato;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group31-line4 {
  top: 51px;
  left: 296px;
  width: 220px;
  height: 0px;
  position: absolute;
}
.group31-followus {
  top: 58px;
  left: 1134px;
  width: 179px;
  height: 97px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group31-text27 {
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Lato;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group31-mdiinstagram {
  top: 59px;
  left: 0px;
  width: 37px;
  height: 37px;
  position: absolute;
}
.group31-mditwitter {
  top: 53px;
  left: 64px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.group31-mdilinkedin {
  top: 53px;
  left: 131px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.group31-whats-app-image20221201at12263 {
  top: 42px;
  left: 53px;
  width: 204px;
  height: 161px;
  position: absolute;
  border-color: transparent;
}
