.group25-group25 {
  width: 1449px;
  height: 129px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group25-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 116px;
  position: absolute;
  border-color: transparent;
}
.group25-group5 {
  top: 86px;
  left: 7px;
  width: 1442px;
  height: 43px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group25-rectangle120 {
  top: 10px;
  left: -5px;
  width: 1442px;
  height: 33px;
  position: absolute;
  border-color: transparent;
}
.group25-text {
  top: 10.583252px;
  left: 12.016666412353516px;
  color: rgba(0, 0, 0, 1);
  width: 536px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group25-text02 {
  top: 13.97229px;
  left: 1274.81665px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group25-whats-app-image20221201at12262 {
  top: 6px;
  left: 525px;
  width: 80px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.group25-text04 {
  top: 21px;
  left: 643px;
  color: #EF8F0C;
  width: 314px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group25-text05 {
  color: rgba(2, 128, 88, 1);
}
.group25-text06 {
  color: rgba(0, 0, 0, 1);
}
.group25-text07 {
  color: rgba(2, 128, 88, 1);
}
.group25-text08 {
  color: rgba(0, 0, 0, 1);
}
