.group29-group29 {
  width: 1297px;
  height: 463px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  top: 117px;
}
.group29-group28 {
  top: 0px;
  left: 0px;
  width: 1297px;
  height: 463px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group29-text {
  left: 350px;
  color: rgba(34, 36, 46, 1);
  width: 606px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-group1 {
  top: 64px;
  left: 85px;
  width: 353px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.group29-text02 {
  left: 20px;
  color: rgba(0, 179, 121, 0.5299999713897705);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-text03 {
  top: 99px;
  left: 65px;
  color: rgba(34, 36, 46, 1);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-text05 {
  top: 349px;
  left: 97px;
  color: rgba(34, 36, 46, 0.699999988079071);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-rectangle14 {
  top: 64px;
  left: 476px;
  width: 353px;
  height: 399px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.group29-text07 {
  top: 64px;
  left: 496px;
  color: rgba(0, 179, 121, 0.5299999713897705);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-text08 {
  top: 163px;
  left: 541px;
  color: rgba(34, 36, 46, 1);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-text10 {
  top: 413px;
  left: 573px;
  color: rgba(34, 36, 46, 0.699999988079071);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-rectangle15 {
  top: 64px;
  left: 868px;
  width: 353px;
  height: 399px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
}
.group29-text12 {
  top: 64px;
  left: 888px;
  color: rgba(0, 179, 121, 0.5);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 200px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-text13 {
  top: 163px;
  left: 933px;
  color: rgba(34, 36, 46, 1);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-text15 {
  top: 413px;
  left: 965px;
  color: rgba(34, 36, 46, 0.699999988079071);
  width: 208px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group29-image1 {
  top: 246px;
  left: 1253px;
  width: 44px;
  height: 53px;
  position: absolute;
  border-color: transparent;
}
.group29-image28 {
  top: 299px;
  left: 44px;
  width: 44px;
  height: 53px;
  position: absolute;
  border-color: transparent;
}